*.class
*.log

# sbt specific
.bsp
.cache
.history
.lib/
dist/*
project/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# jenv specific
.java-version

# VSCode specific
.metals
.vscode

# experiment results
experimentOneResults/

# mac specific
.DS_Store